.container{

    max-width: 120rem;
    margin: 5rem auto;
    background-color: var(--light-color-2);
    box-shadow: var(--boxsh);
}


.header{
    background-color: var(--light-color-1);
    height: 6rem;
    font-size: var(--header-font);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content{
    
    display: flex;
}

.sidebar{
    background-color: var(--dark-color-2);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vehicle-view{
    background-color:  var(--light-color-2); 
    flex: 1;
    height: 80vh;
}