.container{

    max-width: 120rem;
    margin: 5rem auto;
    background-color: var(--light-color-2);
    box-shadow: var(--boxsh);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}


.header{
    background-color: var(--light-color-1);
    height: 6rem;
    font-size: var(--header-font);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

}

.content{
    
    display: flex;

    @media only screen and (max-width: $bp-med) {
        flex-direction: column;
    }

}

.sidebar{
    background-color: var(--dark-color-2);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vehicle-view{
    background-color:  var(--light-color-2); 
    flex: 1;
}

.details{
    font-size: 1.4rem;
    padding: 3rem;
    background-color: var(--light-color-2);
    border-bottom: var(--line);
    display: flex;

    @media only screen and (max-width: $bp-med) {
        padding: 1.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 1.5rem;
        display: block;
    }
}

.description{
 background-color: var(--light-color-1);
 box-shadow: var(--boxsh);
 padding: 3rem;
 flex: 0 0 60%;
 margin-right: 4.5rem;
 @media only screen and (max-width: $bp-med) {
    padding: 2rem;
    margin-right: 1.5rem;
}

@media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 2rem;
}
}

.user-reviews{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer{
    background-color: var(--dark-color-2);
    display: none;

    .footer__legal{
        color: var(--light-color-1);
        font-size: 1.2rem;
        padding: 2rem;
        text-align: center;
    }

    @media only screen and (max-width: $bp-med) {
        display: block;
    }
}